@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 400 800;
  src: url("/fonts/italic.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400 800;
  src: url("/fonts/reg.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@layer base {
    html {
        font-family: "EB Garamond", 'Times New Roman', Times, serif;
    }

    h2 {
        @apply font-bold underline
    }
    
    p {
        @apply mb-5 leading-loose text-justify
    }
}