@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
    size: auto;
    margin: 25mm 25mm 25mm 25mm;
}

@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-display: swap;
  font-weight: 400 800;
  src: url("../../public/fonts/EBGaramond-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-display: swap;
  font-weight: 400 800;
  src: url("../../public/fonts/EBGaramond.woff2") format("woff2");
}

@layer utilities {
    .text-justify-line-last {
        text-align-last: justify;
    }
    .text-left-line-last {
        text-align-last: left;
    }
}

@layer base {
    html {
        font-family: "EB Garamond", 'Cormorant Garamond', 'Garamond', Times, serif;
    }

    h2 {
        @apply font-bold underline mb-2
    }

    p {
        @apply mb-5 leading-loose text-justify
    }

    li {
        @apply mb-2
    }

    ul,ol {
        @apply list-outside mx-10 mb-5
    }

    ul {
        @apply list-disc 
    }

    ol {
        @apply list-decimal
    }
}