---
import Layout from "../layouts/Layout.astro";
import Passage from "../components/Passage";
import Image from "../components/Image";
import Pagebreak from "../components/Pagebreak";
---

<Layout title="English IO">
  <div contenteditable>
    <main class="max-w-xl">
      <h2>Passage</h2>
      <Passage
        paragraphs={[
          [
            "In Umm Khultum's voice I hear Amal's. In the rhythms,",
            "I discern the tempo of Amal's telling. In its repetitions, I come",
            "to understand Amal's recounting as an incantation, which the",
            "ancients saw as a way of raising the dead, and of restoring them",
            "to the living. In the rising tension, the build-up of emotion, I",
            "hear Amal willing her tales to their limits, conveying her truth",
            "through gesture and emotion, inducing in her listeners a state of",
            "enchantment.",
          ],
          [
            "I hear her voice intensifying, ebbing and flowing to and",
            "from the state of tarab, rising in a succession of waves before",
            "receding back to an interlude, while she regained her resolve and",
            "nerve before proceeding with the next ascent in the telling.",
          ],
          [
            "'My brother, I want the people to know why I left Iraq, and",
            "why I wanted to come to Australia. I want to tell them that when",
            "I escaped over the mountains and came to Iran, I began to hear",
            "about Australia. Many Iraqi people who escaped were talking",
            "about Australia. They said there is a way to go there, they said the",
            "smugglers can take us. They said that Australia is a democratic",
            "country.",
          ],
          [
            "'I started to have a dream about Australia. I dreamed my",
            "children could go to school there. When they lost their school,",
            "they were still young and I worried for them. Now we had a new",
            "dream and I must fight to go to Australia. I thought that when I",
            "arrived in Australia all my problems would be over.",
          ],
          [
            "'But the money was not enough for us, only enough for my",
            "husband. Abbas went alone. He flew by plane to Kuala Lumpur,",
            "and went by boat to Sumatra, and then he flew to Jakarta. When",
            "he arrived in Jakarta he called me and told me he was upset",
            "because he had left me alone with our sons. He said we must",
            "believe that one day he is going to save us.",
          ],
          [
            "'He called again and told me that he had seen the ocean,",
            "and he was very scared. He told me that many people had disap-",
            "peared in the ocean, and I told him, \"Don't go on the ocean.",
            'Come back to Iran." He said, "I can\'t go back now. I must do',
            'something for my children."',
          ],
        ]}
      >
        <div class="text-gray-600">
          Pages 164—165 of Arnold Zable's <em>The Ancient Mariner</em> from the collection
          <em>Violin Lessons</em> published in 2011.
        </div>
      </Passage>
      <Pagebreak/>
      <h2>Image</h2>
      <Image imgSrc="images/non-literary.png" imgAlt="A child with Dengue fever is holder the doctor's hand in Jalozai, Pakistan 2012.">
        <div class="text-gray-600">
          "Salvation..." from <em>Parallel Universies of Children</em> by Uğur
          Gallenkuş in 2020.
        </div>
      </Image>
      <Pagebreak/>
      <h2>Oral transcript</h2>
      <p class="text-red-500">
        Intro. Global issue: "social inequality between Greater Middle Eastern asylum seekers and citizens of developed states"
      </p>
      <p class="indent-8">
        In <em>The Ancient Mariner</em>, Zable presents the story of Amal Basry, a refugee from Baghdad, Iraq and survivor of the SIEV X incident. The audience for <em>The Ancient Mariner</em> are globally-minded middle to upper-class voting Australians and the purpose of this story, as is evident by the foregrounding of Amal's words, is to give a voice to asylum seekers to spread their message to those who have the power to influence change. In <em>The Ancient Mariner</em>, there exists an interplay between the audience and the content of the story where the global issue manifests itself. The opening paragraphs of the story are told from Zable's perspective in the first person. He recalls an interaction with Amal where she told him "when I die, you must tell my story, and the story of what happened to the people who died in the ocean". The use of first-person perspective and direct quotation from Amal adds a level of authenticity and integrity to the story, which is important for the global issue, where it is the experiences of Amal that are needed to contrast with the audience's. Zable follows this with six paragraphs which remain in the first person from his perspective. The first three open and use mostly the 'I' pronoun. In these Zable writes about the setting and details of his meetings with Amal. In the latter three, he opens with and mostly uses the 'She' pronoun. In these, he writes about personal routines and details in Amal's life she had told him about. The use of pronouns in this way highlights the difficulty of giving justice to Amal's perspective in this story and underscores a difference from traditional coverage of asylum which typically gives less consideration to the asylum seeker's perspective. On pages 160 to 161, Zable introduces the idea of limbo. He writes of the asylum seeker's limbo being a 'state worse than death', a quote significant of his tone in this story, which is one of reverence for asylum seekers. In addition, Zable equates the state of being an asylum seeker as 'equivalent to prison', which contrasts with the audience, where such an experience is only enforced if one has broken laws. The effect of this contrast is to strengthen the global issue in the story.
      </p>
      <p class="indent-8">
        In my passage, Zable uses diction and structure to convey the global issue and in quotes of Amal, she uses structure heavily and content to do so.   
      </p>
    </main>
  </div>
</Layout>
