---
import Layout from "../layouts/Layout.astro";
import Passage from "../components/Passage";
import Image from "../components/Image";
import Pagebreak from "../components/Pagebreak";
---

<Layout title="English IO">
  <div contenteditable>
    <main class="max-w-xl print:max-w-full">
      <h2>Passage</h2>
      <Passage
        paragraphs={[
          [
            "In Umm Khultum's voice I hear Amal's. In the rhythms,",
            "I discern the tempo of Amal's telling. In its repetitions, I come",
            "to understand Amal's recounting as an incantation, which the",
            "ancients saw as a way of raising the dead, and of restoring them",
            "to the living. In the rising tension, the build-up of emotion, I",
            "hear Amal willing her tales to their limits, conveying her truth",
            "through gesture and emotion, inducing in her listeners a state of",
            "enchantment.",
          ],
          [
            "I hear her voice intensifying, ebbing and flowing to and",
            "from the state of tarab, rising in a succession of waves before",
            "receding back to an interlude, while she regained her resolve and",
            "nerve before proceeding with the next ascent in the telling.",
          ],
          [
            "'My brother, I want the people to know why I left Iraq, and",
            "why I wanted to come to Australia. I want to tell them that when",
            "I escaped over the mountains and came to Iran, I began to hear",
            "about Australia. Many Iraqi people who escaped were talking",
            "about Australia. They said there is a way to go there, they said the",
            "smugglers can take us. They said that Australia is a democratic",
            "country.",
          ],
          [
            "'I started to have a dream about Australia. I dreamed my",
            "children could go to school there. When they lost their school,",
            "they were still young and I worried for them. Now we had a new",
            "dream and I must fight to go to Australia. I thought that when I",
            "arrived in Australia all my problems would be over.",
          ],
          [
            "'But the money was not enough for us, only enough for my",
            "husband. Abbas went alone. He flew by plane to Kuala Lumpur,",
            "and went by boat to Sumatra, and then he flew to Jakarta. When",
            "he arrived in Jakarta he called me and told me he was upset",
            "because he had left me alone with our sons. He said we must",
            "believe that one day he is going to save us.",
          ],
          [
            "'He called again and told me that he had seen the ocean,",
            "and he was very scared. He told me that many people had disap-",
            "peared in the ocean, and I told him, \"Don't go on the ocean.",
            'Come back to Iran." He said, "I can\'t go back now. I must do',
            'something for my children."',
          ],
        ]}
      >
        <div class="text-gray-600">
          Pages 164—165 of Arnold Zable's "The Ancient Mariner" from the collection
          <em>Violin Lessons</em> published in 2011.
        </div>
      </Passage>
      <Pagebreak/>
      <h2>Image</h2>
      <Image imgSrc="images/non-literary.png" imgAlt="A child with Dengue fever is holder the doctor's hand in Jalozai, Pakistan 2012.">
        <div class="text-gray-600">
          "Salvation..." from <em>Parallel Universies of Children</em> by Uğur
          Gallenkuş in 2020.
        </div>
      </Image>
      <Pagebreak/>
      <h2>Oral transcript</h2>
      <p class="text-red-500">
        Intro. Global issue: "social inequality between Greater Middle Eastern asylum seekers and citizens of developed states"
      </p>
      <p class="indent-8">
        "Social inequality between Greater Middle Eastern asylum seekers and citizens of developed states" is a global issue that Arnold Zable examines in a number of his works. The 'SIEV X' incident is the subject of two of his short stories, "The Ancient Mariner" (in which my passage lies) and <em>Zahra's Lullaby</em>. 
      </p>
      <p class="indent-8">
        In his greater body of work, Arnold Zable has written two short stories with a specific focus on the global issue. The first, in which my passage lies, is "The Ancient Mariner" from the collection <em>Violin Lessons</em> and the second is "Zahra's Lullaby" from <em>A Country Too Far</em>. The audiences for both stories are globally-minded middle to upper-class voting Australians who possess the ability to influence change. And both "The Ancient Mariner" and "Zahra's Lullaby" are stories set in modern-day Australia where Zable talks to a SIEV X survivor and former citizen of the Greater Middle East about their experiences. In "Zahra's Lullaby", Zable heavily emphasises husband and wife and survivors of SIEV X, Faris and Majida's apartment and its normalities. Significant to this is the inclusion of details such as "Whenever I visit there is food on the coffee table" or that the "flat is clean and neat". In contrast, Zable explains the conditions of the boat that took them across the Indian Ocean, "the ageing fishing vessel bore no resemblance to [a spacious, well-equipped boat]". In a similar vein, "The Ancient Mariner" also explores this contrast for Amal Basry, where in her apartment, Zable remarks on a "CD of Umm Khultum", "her cooking" and "cardamon tea". In her asylum seeker state, however, Amal remarks: "There was no food and no medicine", and "our food is 'air food', like nothing". This contrast is emblematic of the global issue. Themes of <em>limbo</em> or <em>statelessness</em>, especially concerning asylum seekers, are heavily explored in both "Zahra's Lullaby" and "The Ancient Mariner". In the "Ancient Mariner", Zable likens "limbo" to a "state worse than death" while simultaneously implying that asylum seekers exist in this state. "Statelessness" is diction that is repeated throughout "Zahra's Lullaby" that, being used by the United Nations, is a term with official and legal connotations. In emphasising "limbo" and "statelessness", Zable draws a juxtaposition between the audience and the present status of Amal, Faris and Majida, which is stateful. This juxtaposition enhances the global issue.
      </p>
      <p class="indent-8">
        <span class="text-red-500">topic sentence(s).</span> Throughout "The
        Ancient Mariner", Zable includes large quotes from Amal, occasionally
        interjecting to emphasise or otherwise provide context. Using auditory
        imagery and musical diction, Zable successfully conveys Amal's passion
        through lines 1 to 13. The effect of this is to invigorate Amal's
        story and ultimately further the global issue. By using words such as
        "tempo", "interlude", "rhythms", "rising tension", Zable likens Amal's
        story to an Umm Khultum song, which are often tens of minutes long and
        tell stories themselves. Zable also describes Amal's recounting as an
        "incantation", an interesting use of diction that positions Amal's
        telling as spiritual or religious (by the connotation) but also
        infectious (by the denotation). Italicisation of "<em>tarab</em>"
      </p>
    </main>
  </div>
</Layout>
