---
import Layout from "../layouts/Layout.astro";
import Passage from "../components/Passage";
import Image from "../components/Image";
import Pagebreak from "../components/Pagebreak";
import Script from "../components/Script.md";
import Outline from "../components/Outline.md";
import Breakdown from "../components/Breakdown.mdx";
---
<Layout title="English IO">
  <div contenteditable>
    <main class="max-w-xl print:max-w-full">
      <h2>Passage</h2>
      <Passage
        paragraphs={[
          [
            "In Umm Khultum’s voice I hear Amal’s. In the rhythms,",
            "I discern the tempo of Amal’s telling. In its repetitions, I come",
            "to understand Amal’s recounting as an incantation, which the",
            "ancients saw as a way of raising the dead, and of restoring them",
            "to the living. In the rising tension, the build-up of emotion, I",
            "hear Amal willing her tales to their limits, conveying her truth",
            "through gesture and emotion, inducing in her listeners a state of",
            "enchantment.",
          ],
          [
            "I hear her voice intensifying, ebbing and flowing to and",
            "from the state of tarab, rising in a succession of waves before",
            "receding back to an interlude, while she regained her resolve and",
            "nerve before proceeding with the next ascent in the telling.",
          ],
          [
            "‘My brother, I want the people to know why I left Iraq, and",
            "why I wanted to come to Australia. I want to tell them that when",
            "I escaped over the mountains and came to Iran, I began to hear",
            "about Australia. Many Iraqi people who escaped were talking",
            "about Australia. They said there is a way to go there, they said the",
            "smugglers can take us. They said that Australia is a democratic",
            "country.",
          ],
          [
            "‘I started to have a dream about Australia. I dreamed my",
            "children could go to school there. When they lost their school,",
            "they were still young and I worried for them. Now we had a new",
            "dream and I must fight to go to Australia. I thought that when I",
            "arrived in Australia all my problems would be over.",
          ],
        ]}
      >
        <div class="text-gray-600">
          Pages 164—165 of Arnold Zable’s “The Ancient Mariner” from the collection
          <em>Violin Lessons</em> <br> published in 2011.
        </div>
      </Passage>
      <Pagebreak/>
      <h2>Image</h2>
      <Image imgSrc="images/non-literary.png" imgAlt="A child with Dengue fever is holder the doctor's hand in Jalozai, Pakistan 2012.">
        <div class="text-gray-600">
          “Salvation...” from <em>Parallel Universies of Children</em> by Uğur
          Gallenkuş in 2020.
        </div>
      </Image>
      <Pagebreak/>
      <h2>Oral Outline</h2>
      <Outline/>
      <Pagebreak/>
      <h2>Oral breakdown</h2>
      <Breakdown/>
      <Pagebreak/>
      <h2>Oral transcript</h2>
      <Script/>
    </main>
  </div>
</Layout>
