---
import Layout from '../layouts/Layout.astro';
import Passage from '../components/Passage';
import Image from '../components/Image';
---

<Layout title="English IO">
	<div contenteditable>
		<main class="max-w-3xl">
			<h1 class="text-center underline font-bold mb-4">Individual Oral</h1>
			<h2>Passage</h2>
			<p>this is my paragraph using eb garamond (hopefully) (i hope plz).</p>
		</main>
	</div>
</Layout>